@using identity1.Common.Models.Enums
@model identity1.Common.Entities.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Product</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ProductId)

    @Html.Partial("_AddImage")

    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "label title" })
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form title" } })
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    <hr />
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "label description" })
    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form description" } })
    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

    <hr />
    @Html.LabelFor(model => model.CountInStock, htmlAttributes: new { @class = "label count" })
    @Html.EditorFor(model => model.CountInStock, new { htmlAttributes = new { @class = "form count" } })
    @Html.ValidationMessageFor(model => model.CountInStock, "", new { @class = "text-danger" })
    <hr />

    @Html.LabelFor(model => model.CostProduct, htmlAttributes: new { @class = "label cost" })
    @Html.EditorFor(model => model.CostProduct, new { htmlAttributes = new { @class = "form cost" } })
    @Html.ValidationMessageFor(model => model.CostProduct, "", new { @class = "text-danger" })
    <hr />
    @Html.LabelFor(model => model.TypeId, htmlAttributes: new { @class = "label type" })
    @Html.DropDownList("charak", new SelectList(new List<string> { "iMac", "iPad", "MacBook", "iPhone", "Watch", "Accessories" }), new { id = "type" })

    <hr />
    @Html.LabelFor(model => model.MemberId, htmlAttributes: new { @class = "label type" })
    @Html.DropDownList("charak", new SelectList(new List<string> { "16GB", "32GB", "64GB", "128GB", "256GB", "512GB" }), new { id = "member" })
    <span id="memberL">Недоступно для данного типа товара</span>
    <hr />
    @Html.LabelFor(model => model.ColorId, htmlAttributes: new { @class = "label type" })
    @Html.DropDownList("charak", new SelectList(new List<string> { "Red", "Space gray", "Silver", "Rose", "Rose gold", "Gold" }), new { id = "color" })
    <span id="colorL">Недоступно для данного типа товара</span>

    <hr />
    @Html.LabelFor(model => model.DisplayId, htmlAttributes: new { @class = "label type" })
    @Html.DropDownList("charak", new SelectList(new List<string> { "9,7", "10,5", "12,9", "21", "27", "12", "13", "15", "5,8", "4,7", "5,5", "4" }), new { id = "display" })
    <span id="displayL">Недоступно для данного типа товара</span>
    <hr />

    @Html.LabelFor(model => model.SizeBodyId, htmlAttributes: new { @class = "label type" })
    @Html.DropDownList("charak", new SelectList(new List<string> { "38 mm", "42 mm" }), new { id = "size" })
    <span id="sizeL">Недоступно для данного типа товара</span>

    <hr />

    @Html.LabelFor(model => model.Cellular, htmlAttributes: new { @class = "label type" })
    @Html.DropDownList("charak", new SelectList(new List<string> { "Есть", "Нету" }), new { id = "cell" })
    <span id="cellL">Недоступно для данного типа товара</span>

    <hr />

    @Html.LabelFor(model => model.TouchBar, htmlAttributes: new { @class = "label type" })
    @Html.DropDownList("charak", new SelectList(new List<string> { "Есть", "Нету" }), new { id = "bar" })
    <span id="barL">Недоступно для данного типа товара</span>

    <hr />
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/Products_Create.css" rel="stylesheet" />
    <link href="~/Content/create_product.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/create_product.js"></script>
}
