@model IEnumerable<identity1.Common.Entities.Product>
@{
    ViewBag.Title = "Index";
}

<div id="Catalog">
    <div class="">
        @Html.ActionLink("Basket", "Basket")
    </div>
    @foreach (var item in Model)
    {
        <li class="product-wrapper">
            <a href="" class="product">
                <div class="product-main">
                    <div class="product-photo">
                        <img src="@item.Images.FirstOrDefault( x => x.Name == "logo").Path  "/>
                        <div class="product-preview"><div class="button">Быстрый просмотр</div></div>
                    </div>
                    <div class="product-text">
                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                        @*<p>@Html.DisplayFor(modelItem => item.Description)</p>*@
                    </div>
                </div>
                <div class="product-details-wrap">
                    <div class="product-details-wrap">
                        <div class="product-availability">
                            @if (item.CountInStock == 0)
                            {
                                @: Нет в наличии
            }
                            else
                            {
                                @:В наличии
            }
                        </div>
                        <span class="product-price product-price-old">
                            <b>@Html.DisplayFor(modelItem => item.CostProduct)</b>
                            <small>$</small>

                        </span>
                        <span class="product-price">
                            <b>899</b>
                            <small>$</small>
                        </span>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="product-buttons-wrap">
                            <div class="buttons">
                                <span id="@item.ProductId" class="button to_cart">В корзину</span>
                                <span id="@item.ProductId" class="button">Купить</span>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="product-buttons-wrap">
                            <div class="buttons">
                                <span class="button">Войти</span>
                            </div>
                        </div>
                    }
                    @*@Html.ActionLink("Продукт", "PageOfProduct", new { id = item.ProductId })*@

                </div>
            </a>

        </li>
    }
</div>

<link href="~/Content/index.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/index_products.js"></script>
