@model identity1.Domain.Entities.Product

@{
    ViewBag.Title = Model.Title;
}

<h2>PageOfProduct</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        @*Image*@
        @foreach (var x in Model.Images)
        {
            <img src="@x.Path" />
        }
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>

    </dl>
</div>
