@using identity1.WebUI.Models   
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="~/Content/login_.css" />

<h2>@ViewBag.Title.</h2>
<div id="login" class="span3 well well-large offset4" style="margin: 10px 20px;
  box-shadow: 0 0 18px #ccc;">
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h4>Используйте локальную учетную запись для входа.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Выполнить вход" class="btn btn-success" />
                            @Html.ActionLink("Регистрация", "Register", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                    @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                        <p>
                            @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
    </div>
    </div>





    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/bootstrap.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
