@using identity1.Common.Models.Enums
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main.css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
  
    <div class="autorization">@Html.Partial("_LoginPartial")</div>
    <div class="site-container">
        <div id="toTop"><img class="up" src="~/Content/Images/up.png" /> </div>

        <div class="site-pusher">
            <header class="header">
                <a href="#" class="header__icon" id="header__icon"></a>

                <nav class="menu">
                    @Html.ActionLink("Main Page", "Main", "Products")
                    @Html.ActionLink("Macbook", "Index", "Products", new { type = (int)Enums.TypeProduct.laptop }, null)
                    @Html.ActionLink("iPhone", "Index", "Products", new { type = (int)Enums.TypeProduct.phone }, null)
                    @Html.ActionLink("iPad", "Index", "Products", new { type = (int)Enums.TypeProduct.tablet }, null)
                    @Html.ActionLink("Watch", "Index", "Products", new { type = (int)Enums.TypeProduct.watch }, null)
                    @Html.ActionLink("iMac", "Index", "Products", new { type = (int)Enums.TypeProduct.monoblock }, null)
                    @Html.ActionLink("Accessories", "Index", "Products", new { type = (int)Enums.TypeProduct.accessories }, null)
                    @Html.ActionLink("Basket","Basket","Products")
@if (ViewBag.Title == "Index")
{
                    <div class="layout-buttons">
                        <span class="active icon icon-list"><img src="~/Content/Images/tile.png" /></span>
                        <span class="icon icon-table"><img src="~/Content/Images/table.png" /></span>
                    </div>
}
                </nav>
            </header>

            <div class="body-content">
                @RenderBody()
            </div>
        </div> <!-- END site-pusher -->
    </div> <!-- END site-container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Layout.css" rel="stylesheet" type="text/css" />
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.layout-buttons span').click(function () {
                var $elem = $(this);
                var $productList = $('.products');
                $elem.toggleClass('active');
                $elem.siblings().toggleClass('active');
                $productList.toggleClass('table-layout');
            });
        });</script>
    <script>
        $(document).ready(function () {

            (function ($) {

                $('#header__icon').click(function (e) {
                    e.preventDefault();
                    $('body').toggleClass('with--sidebar');
                });

                $('#site-cache').click(function (e) {
                    $('body').removeClass('with--sidebar');
                });

            })(jQuery);

        });
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function () {
                $('body,html').animate({ scrollTop: 0 }, 800);
            });
        });
    </script>
</body>
</html>