@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @*<div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>*@
    
    <div class="site-container">
        <div class="site-pusher">
            <header class="header">
                    <a href="#" class="header__icon" id="header__icon"></a>
                    <a href="#" class="header__logo">Logo</a>
                <nav class="menu">
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </nav>
            </header>
            <div class="site-cache" id="site-cache"></div>


            <div class="body-content">
                @RenderBody()
            </div>
        </div> <!-- END site-pusher -->
    </div> <!-- END site-container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Layout.css" rel="stylesheet" type="text/css" />
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {

            (function ($) {

                $('#header__icon').click(function (e) {
                    e.preventDefault();
                    $('body').toggleClass('with--sidebar');
                });

                $('#site-cache').click(function (e) {
                    $('body').removeClass('with--sidebar');
                });

            })(jQuery);

        });
    </script>
</body>

</html>