@using identity1.Common.Models.Enums
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="site-container">
        @Html.Partial("_LoginPartial")
        <div class="site-pusher">
            <header class="header">
                <a href="#" class="header__icon" id="header__icon"></a>
                <a href="#" class="header__logo">Logo</a>
                <nav class="menu">
                    @Html.ActionLink("Macbook", "Index", "Products", new { type = Enums.TypeProduct.laptop }, null)
                    @Html.ActionLink("iPhone", "Index", "Products", new { type = Enums.TypeProduct.phone }, null)
                    @Html.ActionLink("iPad", "Index", "Products", new { type = Enums.TypeProduct.tablet }, null)
                    @Html.ActionLink("Watch", "Index", "Products", new { type = Enums.TypeProduct.watch }, null)
                    @Html.ActionLink("iMac", "Index", "Products", new { type = Enums.TypeProduct.monoblock }, null)
                    @Html.ActionLink("Accessories", "Index", "Products", new { type = Enums.TypeProduct.accessories }, null)
                </nav>
            </header>
            <div class="site-cache" id="site-cache"></div>


            <div class="body-content">
                @RenderBody()
            </div>
        </div> <!-- END site-pusher -->
    </div> <!-- END site-container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Layout.css" rel="stylesheet" type="text/css" />
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {

            (function ($) {

                $('#header__icon').click(function (e) {
                    e.preventDefault();
                    $('body').toggleClass('with--sidebar');
                });

                $('#site-cache').click(function (e) {
                    $('body').removeClass('with--sidebar');
                });

            })(jQuery);

        });
    </script>
</body>

</html>